html, body {
  font-family: Ubuntu, sans-serif;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
}



.container {
  display: flex;
  flex-flow: row nowrap; 
  justify-content: space-around;
  margin : 6px; 

}

.container > * {
   padding: 6px; 
}

.header * .title {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  /*
  vertical-align: middle;  works on firefox, aligns top on chrome  
  display: table-cell;
  */
}

.header .right {
  text-align: right;
}

.container .center, .main .left, .main .right {
  border: 1px solid blue; 
  /* border: 1px solid red;  */
  border-radius: 12px;
  /* Firefox still doesn't support dotted border */
}

.spacer { width:100%}

.main { flex: 1; }

.copyright {
  text-align:center;
  font-size: 10px;
}

/* Colour settings */

html {
  background-color: #ddf; 
  /* background-color: #fdd; */
}

.container .center, .main .left, .main .right {
  background-color: #eef;
  /* background-color: #fee;  */
  overflow:auto; 
}


@media screen and (min-width: 1500px) {
  .container .center { width: 1000px; }
}


@media screen and (min-width: 1400px) and (max-width: 1499px) {
  .container .center { width: 900px; }
}

@media screen and (min-width: 1300px) and (max-width: 1399px) {
  .container .center { width: 800px; }
}

@media screen and (min-width: 1200px) and (max-width: 1299px) {
  .container .center { width: 700px; }
}

@media screen and (min-width: 1100px) and (max-width: 1199px) {
  .container .center { width: 600px; }
}


@media screen and (min-width: 1000px) and (max-width: 1099px) {
  .container .center { width: 500px; }
}

@media screen and (min-width: 900px) and (max-width: 999px) {
  .container .center { width: 500px; }
}

/* TODO small screen support, disable the sidebars from here? */
@media screen and (max-width: 899px) {
  .container .center { width: 400px; }
}




/* 980 */
@media screen and (min-width: 980px) and (max-width: 980px) {
  html { color : red; } /* some weird android case */
} /* solved: viewport & initial zoom in meta tag */ 

@media screen and (min-width: 1200px) {
  .left, .right { width:200px; }
  .header * img.logo, .header * .title  { height: 150px; }
  .header * .title { min-width: 400px; /* Normal "width" appears to be ignored */ }
  .header * .title .name { font-size: 37px; }
  .header * .title .slogan { font-size: 20px; }
}


@media screen and (min-width: 1100px) and (max-width: 1199px) {
  .left, .right { width:175px; }
  .header * img.logo, .header * .title  { height: 125px; }
  .header * .title { min-width: 300px; /* Normal "width" appears to be ignored */ }
  .header * .title .name { font-size: 31px; }
  .header * .title .slogan { font-size: 18px; }
}


@media screen and (min-width: 1000px) and (max-width: 1099px) {
  .left, .right { width:175px; }
  .header * img.logo, .header * .title  { height: 115px; }
  .header * .title { min-width: 300px; /* Normal "width" appears to be ignored */ }
  .header * .title .name { font-size: 31px; }
  .header * .title .slogan { font-size: 18px; }
}


@media screen and (min-width: 900px) and (max-width: 999px) {
  .left, .right { width:150px; }
  .header * img.logo, .header * .title  { height: 105px; }
  .header * .title { min-width: 300px; /* Normal "width" appears to be ignored */ }
  .header * .title .name { font-size: 28px; }
  .header * .title .slogan { font-size: 16px; }
}

@media screen and (min-width: 800px) and (max-width: 899px) {
  .left, .right { width:150px; }
  .header * img.logo, .header * .title  { height: 105px; }
  .header * .title { min-width: 300px; /* Normal "width" appears to be ignored */ }
  .header * .title .name { font-size: 28px; }
  .header * .title .slogan { font-size: 16px; }
}



@media screen and (min-width: 600px) and (max-width: 699px) {
  /* we need different values, but just to be sure this is selected now */ 
  .left, .right { width:100px; }
  .header * img.logo, .header * .title  { height: 75px; }
  .header * .title { min-width: 175px; /* Normal "width" appears to be ignored */ }
  .header * .title .name { font-size: 28px; }
  .header * .title .slogan { font-size: 16px; }
  .center { min-width: 175px; }

  /* debug */
  .header * .title .slogan:after {
    content: "6xx";
  }

}


/* TODO -- small screens*/
@media screen and (max-width: 599px) {
  /* we need different values, but just to be sure this is selected now */ 
  .left, .right { width:75px; }
  .header * img.logo, .header * .title  { height: 50px; }
  .header * .title { min-width: 300px; /* Normal "width" appears to be ignored */ }
  .header * .title .name { font-size: 20px; }
  .header * .title .slogan { font-size: 12px; }
}



@media (pointer:coarse) {
  /* the new way to detect touch input */
  /* works on chromium, works not on firefox */
  button { 
    height: 50px; 
    margin-bottom: 10px;
  }
}

/*  TODO */
@supports (display: flex) {}
@supports not (display: flex) {}


.content {
/*  does not quite work, scrollbar shows when content less then filling
  height: 0px; 
  min-height: 100%;
*/

/* just putting 0px, in combination with flex might work */
  height: 0px; 

}


.menu button {
  width : 100%;
}
